@import url('https://fonts.googleapis.com/css?family=OpenSans&display=swap');
*{
    margin: 0px;
    padding: 0px;
    color:whitesmoke;
    font-family: sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    }
li{
    list-style-type: none;
    padding: 15px 20px 15px 20px;
}
input, select, textarea{
    background-color: #28303F;
}
    textarea{
        padding: 5px;
    }
body{
    margin: 10px;
    padding: 10px;
    background-color: #12161E;
    display: flex;
    justify-content: center;
}
img{
    width: 38px;
}
#itemContainer{
    height: 430px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #172135;
    border: #212B3F 1px solid;
    border-radius: 10px;
}
#itemHeader{
    padding-top:40px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
    #itemHeader h1{
        margin:0px 80px 0px 60px;
        font-weight:bold;
    }

#itemDataContainer{
    margin-top: 10px;
    width: 50%;
}
.itemData{
    display:flex;
    justify-content: space-between;
}
#backBtn{
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    color: white;
    background-color: #28303F;
    text-decoration: none
}
    #backBtn:hover{
        color: white;
        background-color: #12161E;
    }