@import url('https://fonts.googleapis.com/css?family=OpenSans&display=swap');
*{
    margin: 0px;
    padding: 0px;
    color:whitesmoke;
    font-family: sans-serif;
}
a{
    padding: 6px;
    border-radius: 5px;
    color: white;
    background-color: #28303F;
    text-decoration: none
}
ul {
    margin: 0;
    padding: 0;
    }
li{
    list-style-type: none;
    padding: 15px 20px 15px 20px;
}
input{
    background-color: #28303F;
}
body{
    margin: 10px;
    padding: 10px;
    background-color: #12161E;
}
#headerContainer{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #172135;
    border: #212B3F 1px solid;
    border-radius: 10px;
}
#pageTitle{
    width: 600px;
    flex: 2;
}
#loginArea{
    width:400px;
    height: 140px;
}
    #loginBtn{
        margin-left: 35px;
        margin-top: 8px;
        padding: 4px 6px 4px 6px;
        border:none;
        border-radius: 5px;
        background-color: #28303F;
    }
        #loginBtn:hover{
            color: white;
            background-color: #12161E;
        }
    #registerBtn{
        padding: 8px;
        border-radius: 5px;
        color: white;
        background-color: #28303F;
        text-decoration: none
    }
        #registerBtn:hover{
            color: white;
            background-color: #12161E;
        }
    #loginArea form div{
        padding: 4px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
.headerElement{
    margin: 10px;
    padding: 10px;
    
}
#logoutBtn{
    padding: 10px;
    margin-right: 20px;
}
    #logoutBtn:hover{
        color: white;
        background-color: #12161E;
    }
#itemsContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#itemsContainer div{
    margin-bottom: 20px;
}
.itemsBox{
    width: 100%;
    font-size: 20px;
    background-color: #172135;
    border: #212B3F 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.itemsBoxCol{
    width:100%;
}
    .itemsBoxCol:only-child :first-child{
        font-weight: bold;
        background-color: grey;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .itemsBoxCol:first-child :first-child:not(.itemLink){
        font-weight: bold;
        background-color: grey;
        border-top-left-radius: 5px;
    }
    .itemsBoxCol:not(:first-child):not(:last-child) :first-child{
        font-weight: bold;
        background-color: grey;
    }
    .itemsBoxCol:last-child li:first-child{
        font-weight: bold;
        background-color: grey;
        border-top-right-radius: 5px;
    }
.itemLink{
    font-weight: bold;
    background-color: transparent;
}
    .itemLink:hover{
        color:white;
    }
#itemOptions a{
    padding: 10px;
    margin: 10px;
}
    #itemOptions a:hover{
        color:white;
        background-color: #12161E;
    }